* {
  padding: 0;
  margin: 0;
  font-family: GL, sans-serif;
}

@font-face {
  font-family: GR;
  src: url(../assest/fons/Galien\ Regular.ttf);
}
@font-face {
  font-family: GL;
  src: url(../assest/fons/Gilroy-Light.otf);
}


/* general scc */

.btn {
  padding: 0.75rem 2.25rem;
  background-color: #5A98D0;
  color: #fff;
  border: 2px solid #5A98D0;
  border-radius: 0.6rem;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 2px;
  box-shadow: 3px 3px 3px #4d87ba;
  cursor: pointer;
}

.btn:hover{
  background-color: #fff;
  color: #5A98D0;
}



/* nav satrted */
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  align-items: center;
}

.menu {
  display: flex;
  letter-spacing: 2px;
  list-style: none;
}

.menu li {
  margin-left: 2rem;
}
.menu li a {
  text-decoration: none;
  color:#4d87ba;
  font-weight: bold;
}
.logo {
  cursor: pointer;
}






/* header stared */

.hh1 {
  text-transform: capitalize;
  font-size: 3.5rem;
  color: #395f81;
  letter-spacing: 2px;
}

header {
  display: flex;
  justify-content:space-between;
  padding: 2rem 2rem 5rem 15rem;
  align-items: center;
  font-family: GR, sans-serif;
}

.right p {
  margin: 3rem 2rem 3rem 0;
  line-height: 1.5rem;
  opacity: 0.7;
  width: 27rem;
}


/* about  */

.about {
  display: flex;
  justify-content: space-between;
  padding: 8rem 8rem 8rem 15rem ;

}

.about-right{
  width: 40%;
}
.about-left{
  width: 50%;
}
.about-left .about_item {
  width: 60%;
}
.about_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  box-shadow: 0 4px 4px  rgb(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}

.about-right .about_item:first-child{
  margin-bottom: 6rem;

}
.about-left .about_item{
  margin-top: 15rem;
  margin-left: 7rem;
}

.about_item_text h3{
  text-transform: capitalize;
  letter-spacing: 2px;
  color: #395f81;
  margin: 2rem 0;
  line-height: 150%;
}
.about_item_text p {
  letter-spacing: 2px;
  line-height: 150%;
  opacity: 0.6;
}

.about_item_text p:last-child {
  position: relative;
  margin-top: 2rem;
}

.about-left h2 {
  letter-spacing: 2px;
  line-height: 150%;
  width: 45%;
  color:#0f74cc;
}

.about_item_text a{
  text-decoration: none;
  color:#0f74cc;
  font-weight: 900;
}

.about_item_text span img {
  position: absolute;
  margin-left: 2rem;
}

